body {
    margin: auto;
    width: 75%;
    padding: 10px;
    background-image: url(image/2_background.jpg);
    background-size: 100%;
}

nav {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin: 60px;
    border: 1px solid black;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav > ul {
	display: flex;
}
nav > ul ul {
	display: none;
	background-color: rgba(255, 255,255,0.2) ;
	width: 100%;
}
nav > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
	position: absolute;
	left:0;
}
.sport > li {
    width: 100%;
}

a:hover{
    background-color:  rgba(255, 255,255,0.2) ;
    color: black;
}
h2 {
    text-align: center;
}

h2{
    margin-top:200px ;
}